*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

$white:#fff;
$orange:orange;

.container{
    .head{
        background-color: #46b8e4;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 50px;
        padding-left: 300px;

        input{
            background-color: #46b8e4;
            width: 320px;
            border: 1.5px solid black;
            padding: 5px;
            border-radius: 5px;
        }

        button{
            background-color: $orange;
            color: $white;
            border: none;
            width: 180px;
            height: 25px;
        }
    }
    .collection{
        padding-left: 350px;
        padding-top: 30px;
        display: flex;
        .text{
        h1{
            color: $orange;
        }
        }
        .options{
            margin-left: 240px;
            margin-top: 40px;
            button{
                background-color: $white;
                border: 2px solid $orange;
                padding: 6px;
                width: 70px;
            }
        }
    }

    .prd{
        >ul{
            margin-left: 400px;
            margin-top: 60px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;        
            li{
                display: flex;
                position: relative;
                width: 200px;
                height: 200px;
                img{
                    position: absolute;
                    width: 150px;
                    height: 150px;
                }
                p:nth-of-type(1) { 
                    position: absolute;
                    bottom: 20px;
                    color: purple;
                }
    
                p:nth-of-type(2) { 
                    position: absolute;
                    bottom: 5px;
                    color: purple;
                }
            }
        }
        button{
                background: $white;
                border: 2px solid orange;
                padding: 8px;
                margin-left: 750px;
                }
    }

    .story{
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;

        .img{
            img{
                width: 600px;
                height: 300px;
            }
        }
        .text2{
            text-align: center;
            justify-content: center;

            #gabooo{
                color: $orange;
                font-size: 25px;
                border: 2px solid $orange;
                width: 120px;
                height: 30px;
                margin-left: 285px;
                padding: 8px;
            }


            button{
                background-color: $white;
                border: 2px solid $orange;
                width: 140px;
                height: 40px;
            }
        }
    }
}

@media only screen and (max-width:480px){
    .container{
        padding: 10px;
        .head{
            padding: 10px;
        }
        .collection{
        padding-left: 10px;
        display: block;
        .options{
        margin-left: 10px;
        }
        }

        .prd{
            >ul{
                gap: 5px;
                margin-left: 10px;
            
            li{
                height: 160px;
                width: 160px;
                justify-content: center;
                img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
            
            button{
                margin-left: 130px;
            }
        
        }
        .story{
            display: block;
            gap: 10px;

            .img{
                img{
                    width: 400px;
                    height: 200px;
                }
            }
            .text2{
                margin-left: 10px;
                #gabooo{
                    margin-left: 120px;
                }
            }
        }
    }

}